<div style="display: flex; justify-content: center;padding-top: 200px;">
    <mat-card style="width: 200px; background-color: aquamarine;">
        <mat-card-header>Allposts</mat-card-header>
        <mat-card-content>{{this.data.length}} POSTS</mat-card-content>
    </mat-card>
    <mat-card style="width: 200px; background-color: aquamarine;">
        <mat-card-header>Authors</mat-card-header>
        <mat-card-content>{{this.data2.length}} AUTHORS</mat-card-content>
    </mat-card>
    <mat-card style="width: 200px; background-color: aquamarine;">
        <mat-card-header>Category</mat-card-header>
        <mat-card-content>{{this.data3.length}} CATEGORIES</mat-card-content>
    </mat-card>
</div>  